@media (max-width: 800px) {
  .header-home {
    height: 30rem;

    .header-content {
      padding-top: 5rem;
    }
  }
}

@media (max-width: 500px) {
  .main-nav {
    flex-direction: column;
    align-items: center;

    li {
      padding: 1rem;
    }
  }

  .header {
    &-home {
      height: 20rem;
      border-bottom: 3px solid $main-color;
      background-position: 20% 30%;

      .header-content {
        display: none;
      }
    }
  }

  .home-top .specials,
  .home-middle .stats,
  .home-bottom .process {
    grid-template-columns: 1fr;
  }

  .home {
    &-top {
      .specials div {
        border-bottom: 1px $light-color solid;
        padding-bottom: 1rem;

        &:last-child {
          border: none;
          padding-bottom: 0;
        }
      }
    }

    &-middle {
      .stats div {
        padding: 2rem 0 1rem 0;
      }
    }
  }

  .about {
    &-top {
      .about-info {
        flex-direction: column;
      }
    }
  }
  .main-footer {
    height: 7rem;

    .footer-content {
      flex-direction: column;
      padding: 1rem;
      height: 5rem;
    }
  }

  .about {
    &-top {
      .about-info {
        grid-template-areas:
          "bioimage"
          "bio"
          "aw1"
          "aw2"
          "aw3";
      }
    }

    &-bottom {
      display: none;
    }

    &-last {
      grid-template-columns: 2fr;
    }
  }

  .contact {
    &-top {
      .text-fields {
        grid-template-areas:
          "name"
          "subject"
          "email"
          "phone"
          "message";
      }
    }

    &-middle {
      div {
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px #555 solid;

        &:last-child {
          border: none;
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }
    }

    &-bottom {
      h1 {
        font-size: 2rem;
      }
    }
  }
}
